@model MorningSCart.Models.SearchViewModel

<h1>My Home Page</h1>
<h2>Aptech Learning</h2>
<div>
	<form asp-controller="Home" asp-action="Index" method="get">
		<input type="text" name="searchItem" value="@Model.SearchText" />
		<button type="submit">Search</button>
	</form>
</div>